@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Space+Mono:wght@700&display=swap");
body {
  padding: 0;
  margin: 0;
  background-color: #c5e4e7;
  min-height: 100%;
  /* background-color: hsl(184, 14%, 56%); */
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Space Mono", monospace;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  /* margin-bottom: 8vh; */
}

.tips-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10vh;
}

.tips-card {
  /* height: 50vh; */
  /* width: 50%; */
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  /* align-items: center; */
}

.formSection {
  /* flex: 6; */
  /* background-color: grey; */
  padding: 10px;
  /* border: 2px solid green; */
}

.amountSection {
  /* flex: 6; */
  background-color: #00474b;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.form-label {
  color: #7e8687;
  font-weight: normal;
}

.input-container {
  width: 100%;
  height: 40px;
  background-color: rgb(243, 248, 251);
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: #00474b;
  font-size: 24px;
}

.error-container {
  width: 100%;
  height: 40px;
  background-color: rgb(243, 248, 251);
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: #00474b;
  font-size: 24px;
}

.error-container:focus-within {
  border: 1.5px solid red;
}

.input-container:focus-within {
  border: 1.5px solid #8bcec9;
}

.input-field {
  background-color: rgb(243, 248, 251);
  width: 100%;
  border: none;
  text-align: right;
  padding-right: 20px;
  color: #00474b;
  font-family: "Space Mono", monospace;
  font-size: 24px;
}

.input-container:focus-within {
  border: 1.5px solid #9fe8df;
}

.input-field::placeholder {
  color: hsl(184, 14%, 56%);
}

.dollar-icon {
  margin-left: 3%;
}

.person-icon {
  margin-left: 3%;
}

input[type="text"]:focus {
  outline: none;
  /* border-color: hsl(183, 100%, 15%); */
}

input[type="number"]:focus {
  outline: none;
  /* border-color: hsl(183, 100%, 15%); */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.tab-input-container {
  /* width: 50%; */
  height: 40px;
  background-color: rgb(243, 248, 251);
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: #00474b;
  font-size: 24px;
  border: none;
}

.tab-error-container {
  height: 40px;
  background-color: rgb(243, 248, 251);
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: #00474b;
  font-size: 24px;
  border: none;
}

.tab-input-container:focus-within {
  border: 1.5px solid #8bcec9;
}

.tab-error-container:focus-within {
  border: 1.5px solid red;
}

.tab-input {
  background-color: rgb(243, 248, 251);
  /* width: 5vw; */
  width: 80px;
  border: none;
  text-align: right;
  padding-right: 20px;
  color: #00474b;
  font-family: "Space Mono", monospace;
  font-size: 16px;
}

.tab-input-hidden {
  display: none;
}

.tab-input:focus-visible ::-webkit-input-placeholder {
  color: #2ba69b;
}

.tip-tab {
  color: white;
  background-color: #00474b;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-family: "Space Mono", monospace;
}

.tip-tab:hover {
  cursor: pointer;
  background-color: #26c2ad;
  transition: 1;
}

.tip-amount-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4vw;
  margin-bottom: 3vh;
}

.tip-amount-info:first-child {
  color: white;
  font-size: 12px;
}

.amount {
  font-size: 40px;
  /* margin-top: -10px; */
  color: #2ba69b;
}

.tip-amount-lastSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.total-amount-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-amount-info:first-child {
  color: white;
  font-size: 12px;
}

.reset-btn {
  height: 40px;
  background-color: #26c2ad;
  color: #004c47;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.field-container {
  width: 100%;
}

.error {
  /* position: absolute;
  left: 30vw;
  right: 0; */
  color: red;
  opacity: 0;
  translate: 0 100%;
  visibility: hidden;
  transition: 0.5s;
}

.error-active {
  opacity: 1;
  translate: 0;
  visibility: visible;
}

@media (max-width: 768px) {
  body {
    padding: 0px;
    margin: 0px;
    background-color: #c5e4e7;
    min-height: 100%;
    /* background-color: hsl(184, 14%, 56%); */
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Space Mono", monospace;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
    /* margin-bottom: 8vh; */
  }

  .tips-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 6vh;
    width: 100vw;
  }

  .tips-card {
    /* width: 100vw; */
    /* height: 75vh; */
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 20px;
    /* border-bottom-left-radius: 20px; */
    border-top-left-radius: 20px;
    /* border-bottom-right-radius: 20px; */
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .formSection {
    /* flex: 6; */
    /* background-color: grey; */
    padding: 10px;
    /* border: 2px solid green; */
  }

  .amountSection {
    /* flex: 6; */
    background-color: #00474b;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    /* justify-content: space-between; */
  }

  .amount {
    font-size: 27px;
    /* margin-top: -10px; */
    color: #2ba69b;
  }

  .tip-amount-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
    /* margin-bottom: 3vh; */
  }

  .tip-amount-lastSection {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .reset-btn {
    height: 40px;
    background-color: #26c2ad;
    margin-top: 4vh;
    color: #004c47;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
}
